.about-wrapper{
  padding-top: 45px;
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
}

.about-us{
  max-width: 660px;
}

.about-us__title{
  margin: 30px 0;

  font-weight: 500;
  line-height: 45px;
  font-size: 45px;
}

.about-us__desc{
  margin-bottom: 45px;

  line-height: 24px;
}

.orders-title{
  margin-bottom: 30px;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.orders-list__item{
  display: flex;
  align-items: center;

  padding: 15px 0;
}

.orders-list__item:last-child{
  padding-bottom: 0;
}

.orders-list__item:first-child{
  padding-top: 0;
}

.orders-list__item::before{
  content: '';

  display: block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  flex-shrink: 0;

  background-color: #fb565a;
}


