.about-company{
  width: 360px;

  text-align: center;
  font-weight: 700;
}

.about-company-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  text-align: left;
}

.about-company-list__item{
  width: 100px;
  margin-right: 15px;
}

.about-company__tagline{
  display: block;
  margin: 30px 0;

  text-transform: uppercase;
}

.about-company__percent{
  display: block;
  margin-bottom: 15px;

  font-size: 45px;
  line-height: 45px;
}

.about-company__percent--sup{
  vertical-align: super;
  font-size: 24px;
}

.about-company__desc{
  font-weight: 400;
  line-height: 18px;
}