.btn{
  display: inline-block;
  padding: 16px 55px;

  font: inherit;
  font-weight: 500;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;


  background-color: #fb565a;
  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.btn:hover,
.btn:focus{
  background-color: #e74246;

  outline: 0;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 1px #c13135;

  outline:0;
}

//service
.service__btn--green{
  background-color: #00ca74;
}

.service__btn--green:hover,
.service__btn--green:focus{
  background-color: #00bc6c;

  outline: 0;
}

.service__btn--green:active{
  background-color: #00aa62;
  box-shadow: inset 0 3px 1px #009958;
}

.service__btn--yellow{
  background-color: #efc84a;
}

.service__btn--yellow:hover,
.service__btn--yellow:focus{
  background-color: #eab534;

  outline: 0;
}

.service__btn--yellow:active{
  background-color: #e5a722;
  box-shadow: inset 0 3px 1px #ce961f;
}

//modal
.modal-close{
  position: absolute;
  top: -80px;
  right: -10px;

  width: 30px;
  height: 30px;

  font-size: 0;

  background-color: transparent;

  cursor: pointer;

  border: 0;
}

.modal-close:active{
  outline: 0;
}

.modal-close::after,
.modal-close::before{
  content: '';
  bottom: 50%;
  left: 4px;

  position: absolute;
  width: 19px;
  height: 3px;

  background-color: #fecccd;
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;

  outline: 0;
}

.modal-close:active::before,
.modal-close:active::after{
  background-color: rgba(#fb565a, 0.1);
}

.modal-close::after{
  transform: rotate(45deg);
}

.modal-close::before{
  transform: rotate(-45deg);
}

//write-us-form
.write-us-form-btn{
  width: 260px;
}