.contacts{
  display: flex;
  justify-content: flex-start;
  padding: 70px 0;
}

.contacts-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
  margin-right: 140px;
}

.contacts-list__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;

  border-radius: 50%;
}

.contacts-list__link:hover,
.contacts-list__link:focus{
  background-color: #e74246;

  outline: 0;
}
.contacts-list__link:active{
  background-color: #d7373b;
}

.contacts-list__link:active .icon{
  fill: rgba(255, 255, 255, 0.3);
}

.offer__title{
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 36px;
  font-size: 36px;
}