.modal-write-us{
  left: 50%;
  bottom: 180px;

  display: none;

  width: 960px;
  margin-left: -480px;
  padding: 0 100px;
  padding-top: 65px;
  padding-bottom: 85px;

  box-shadow: 0 5px 55px #000;

  z-index: 111;
}

.form-wrapper{
  display: flex;
  justify-content: space-between;
}

.modal-write-us__title{
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.write-us-form{
  position: relative;
  width: 760px;
}

.write-us-form__label{
  display: block;
  margin-bottom: 10px;

  font-weight: bold;
  line-height: 18px;
}

.write-us-form__input{
  width: 360px;
  padding: 15px;
  margin-bottom: 35px;
  box-sizing: border-box;

  border: 2px solid #d7dcde;
  border-radius: 4px;

  outline: 0;
}

.write-us-form__input:hover,
.write-us-form__textarea:hover{
  border-color: #b4b9bb;
}

.write-us-form__input:active,
.write-us-form__input:focus,
.write-us-form__textarea:active,
.write-us-form__textarea:focus{
  border-color: #000000;
}

.write-us-form__textarea{
  min-height: 95px;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;

  border: 2px solid #d7dcde;
  border-radius: 4px;

  outline: 0;
}

//js

.write-us-form__input--required{
  color: #e74246;
  border-color: #e74246;
}