.modal{
  position: fixed;

  background-color: #fff;
}

//js
@keyframes Braking{
  0% {transform: translateX(-2000px);}
  80% {transform: translateX(10px);}
  85% {transform: translateX(-5px);}
  100% {transform: translateX(0);}
}

.modal-show{
  display: block;
  animation-name: Braking;
  animation-duration: 0.6s;
}

.overlay{
  width: 100%;
  min-height: 100%;
  display: none;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);

  z-index: 110;
}

.overlay--on{
  display: block;
}
