.projects{
  padding: 40px 0;
  margin-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.projects-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-list__item{
  position: relative;

  flex-basis: 25%;
}

.projects-list__link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-list__item:not(:last-child) .projects-list__link::after{
  content: '';

  margin-top: -26px;

  position: absolute;
  top: 50%;
  right: 0;

  display: block;
  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.projects-list__img--mishka:hover,
.projects-list__img--mishka:focus{
  background-image: url("/assets/mishka-hover.png");
}

.projects-list__img--mishka:active,
.projects-list__img--mishka:focus{
  background-image: url("/assets/mishka-active.png");
}