.services{
  padding-top: 80px;
  padding-bottom: 60px;

  border-bottom: 2px solid #eeeeee;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
}

.services__item{
  width: 300px;
  margin-left: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-wrapper{
  margin-left: -100px;
}

.service__title{
  margin-bottom: 20px;

  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.service__desk{
  margin-bottom: 35px;
}


.service__img{
  margin-bottom: 30px;

  order: -1;
}
