.slider{
  position: relative;

  background-image: url("/assets/slide1.png");
  background-repeat: no-repeat;
  background-position: 90% 100%;
}

.slider--bg1{
  background-image: url("/assets/slide1.png");
}

.slider--bg2{
  background-image: url("/assets/slide2.png");
}

.slider--bg3{
  background-image: url("/assets/slide3.png");
}

.slider--bg3 .slider__tagline{
  width: 460px;
}

.slider--bg3 .slider__desc{
  width: 360px;
}

.slider__item{
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 560px;
  padding: 80px 0;
}

.slider__item--current{
  position: static;

  display: block;

  animation-name: Ascent;
  animation-duration: 1.5s;
}

.slider__tagline{
  display: block;
  margin-bottom: 25px;

  font-weight: 500;
  line-height: 55px;
  font-size: 55px;
}

.slider__desc{
  width: 460px;
  margin-bottom: 40px;

  font-weight: 400;
  color: #283136;
}

.slider-nav-wrapper{
  position: absolute;
  bottom: 95px;
  left: 50%;

  margin-right: -50%;
  transform: translate(-50%, 0);

  display: inline-block;

}

.slider-nav{
  display: flex;
  justify-content:space-between;
}

.slider-nav__item{
  padding: 0 8px;
}

.slider-nav__item:first-child{
  padding-left: 0;
}

.slider-nav__button{
  position: relative;
  width: 18px;
  height: 18px;

  background-color: #fff;

  border-radius: 50%;
  border: 0;
}

.slider-nav__button:hover{
  cursor: pointer;
}

.slider-nav__button--current::after{
  content: '';
  position: absolute;
  right: 50%;
  bottom: 50%;

  width: 2px;
  height: 2px;
  margin-right: -4px;
  margin-bottom: -4px;

  border-radius: 50%;
  border: 3px solid #c1c1c1;
}

//js

@keyframes Ascent {
  0% {  opacity: 0.1;}
  100%  {  opacity: 1;}
}