.top-menu{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  //

  color: #000;
  text-transform: uppercase;
}

.header-logo{
  width: 360px;
}

.icon-nerds-logo:hover,
.icon-nerds-logo:focus{
  opacity: 0.8;

  outline: 0;
}

.icon-nerds-logo:active{
  opacity: 0.3;
}

.navigation{
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.navigation__item{
  padding: 0 22px;
}

.navigation__item:first-child{
  padding-left: 0;
}

.navigation__link{
  color: #000000;
  line-height: 30px;
}

.navigation__link:hover,
.navigation__link:focus{
  color: #fb565a;

  outline: 0;
}

.navigation__link:active{
  opacity: 0.3;
}

.cart{
  margin-left: auto;
  width: 140px;
}

.cart__link{
  padding-left: 25px;

  color: #000;
  line-height: 30px;
}

.cart__link:hover,
.cart__link:focus{
  color: #fb565a;

  outline: 0;
}

.cart__link:active{
  opacity: 0.3;
}