.write-us{
  width: 320px;
  padding: 50px;
  margin-top: -160px;

  position: absolute;
  top: 50%;


  background-color: #fff;
}

.write-us__title{
  margin-bottom: 25px;

  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.write-us__address{
  margin-bottom: 20px;

  line-height: 18px;
}

.write-us__phone{
  margin-bottom: 35px;

  line-height: 18px;
}

.write-us__btn{
  padding: 16px 40px;

}