*{
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-size: 16px;
}


body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
	line-height: 24px;

	background-color: #fff;

	-webkit-font-smoothing: antialiased;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

p {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.footer {
	flex: 0 0 auto;
}

.main {
	flex: 1 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0,0,0,0);
	overflow: hidden;
}