.svg-cart-dims {
	width: 15px;
	height: 15px;
}

.svg-fb-dims {
	width: 12px;
	height: 22px;
}

.svg-insta-dims {
	width: 21px;
	height: 21px;
}

.svg-nerds-logo-dims {
	width: 160px;
	height: 65px;
}

.svg-vk-dims {
	width: 26px;
	height: 15px;
}

