extends ../layout
block vars
    - var bodyClass= "inner-page";

mixin navigationItem(link, desc)
    li(class="navigation__item")
        a(href=link class="navigation__link")= desc


block title
    | Главная страница

block content
    header(class="main-header")
        div(class="container")
            div(class="top-menu")
                a(href="#" class="header-logo")
                    +icon("nerds-logo", 160, 70, "#000")

                nav(class="main-nav")
                    ul(class="navigation")
                        +navigationItem("#", "Студия")
                        +navigationItem("#", "Клиенты")
                        +navigationItem("#", "Магазин")
                        +navigationItem("#", "Контакты")

                ul(class="cart")
                    li(class="cart__item")
                        +icon("cart", 15, 15, "#a6a6a6")
                        a(href="#" class="cart__link") Корзина

            h1(class="main-header__title") Магазин готовых шаблонов

    aside(class="filter")
        h2(class="visually-hidden") Фильтр шаблонов
        form(class="form-filter" method="post" action="https://echo.htmlacademy.ru")










block globalScripts


block localScripts