extends ../layout

mixin navigationItem(link, desc)
    li(class="navigation__item")
        a(href=link class="navigation__link")= desc

mixin sliderItem(tagline, desc, className)
    li(class="slider__item " + className)
        b(class="slider__tagline")= tagline
        p(class="slider__desc")= desc
        button(type="button" class="btn slider__btn") Узнать больше

mixin serviceItem(title, desc, imgSrc, imgAlt, btnClass)
    li(class="services__item")
        h2(class="service__title")= title
        p(class="service__desk")= desc
        img(src=imgSrc width="300px" height="145px" alt=imgAlt class="service__img")
        a(href="#" class="btn service__btn " + btnClass) Заказать

mixin aboutCompItem(percent, desc)
    li(class="about-company-list__item")
        b(class="about-company__percent")=percent
            span(class="about-company__percent--sup") %
        p(class="about-company__desc")= desc

mixin projetItem(link, srcIMG, altIMG, classIMG)
    li(class="projects-list__item")
        a(class="projects-list__link" href=link)
            img(src=srcIMG width=173 height=84 alt=altIMG class="projects-list__img projects-list__img--" + classIMG)

mixin contactsItem(link, svgName, socialName)
    li(class="contacts-list__item")
        a(href=link class="contacts-list__link")
            +icon(svgName, 20, 20, "#000")
            span(class="visually-hidden")= socialName

block title
    | Главная страница

block content
    header(class="main-header")
        div(class="container")
            div(class="top-menu")
                a(href="catalog.html" class="header-logo")
                    +icon("nerds-logo", 160, 70, "#000")

                nav(class="main-nav")
                    ul(class="navigation")
                        +navigationItem("#", "Студия")
                        +navigationItem("#", "Клиенты")
                        +navigationItem("#", "Магазин")
                        +navigationItem("#", "Контакты")

                ul(class="cart")
                    li(class="cart__item")
                        +icon("cart", 15, 15, "#a6a6a6")
                        a(href="#" class="cart__link") Корзина

            ul(class="slider")
                +sliderItem("Долго, дорого, скрупулезно.", "Математически выверенный дизайн для вашего сайта или мобильного приложения", "slider__item--current")
                +sliderItem("Любим математику как никто другой", "Никакого креатива, только математические формулы  для расчета идеальных пропорций")
                +sliderItem("Только ночь, только хардкор", "Работать днем, как все? Мы против этого. Ближе к полуночи работа только начинается ")
                li(class="slider-nav-wrapper")
                    ul(class="slider-nav")
                        each className in ['slider-nav__button--current', '', '']
                            li(class="slider-nav__item")
                                button(type="button" class="slider-nav__button " + className)

    main(class="container")
        h1(class="visually-hidden") Дизайн-студия «Nerd's»
        article(class="services")
            h2(class="visually-hidden") Наши услуги
            div(class="services-wrapper")
                ul(class="services-list")
                    +serviceItem("Веб-сайты", "Мир никогда не будет прежним после того как увидит ваш сайт!", "/assets/webSites.jpg", "Веб-сайты")
                    +serviceItem("Приложения", "Покорите топ-10 приложений в AppStore и Google Play", "/assets/mobiles.jpg", "Приложения", "service__btn--green")
                    +serviceItem("Презентации", "Вы даже не подозреваете,  насколько вы изумительны!", "/assets/presentation.jpg", "Презентации", "service__btn--yellow")

        div(class="about-wrapper")
            section(class="about-us")
                h2(class="about-us__title") Мы — маленькая, но гордая дизайн-студия из Краснодара.
                p(class="about-us__desc") Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работает не покладая рук, как роботы.
                div(class="orders-wrapper")
                    h3(class="orders-title") Выполняем заказы на разработку:
                    ul(class="orders-list")
                        each desc in ["Веб-сайтов любой сложности", "Мобильных приложений для iOS и Android", "Слайдшоу и видео для корпоративных презентаций"]
                            li(class="orders-list__item")= desc

            section(class="about-company")
                h2(class="visually-hidden") О нашей компании
                img(src="/assets/nerds-logo2.png" width="360" height="208" alt="Дизайн-студия «Nerd's»")
                b(class="about-company__tagline") с 2004 года любим точность во всем:
                ul(class="about-company-list")
                    +aboutCompItem("146", "Уровень самоотдачи")
                    +aboutCompItem("100", "Соблюдение сроков")
                    +aboutCompItem("50", "Минимальная предоплата")

        section(class="projects")
            h2(class="visually-hidden") Наши проекты
            ul(class="projects-list")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")
                +projetItem("#", "/assets/mishka.png", "mishka", "mishka")

    footer(class="main-footer")
        h2(class="visually-hidden") Как с нами связаться
        div(class="main-footer-wrapper")
            img(src="/assets/map.jpg" width="100%" height="420"  alt="131444, Краснодар, ул. Пушкина, д. 19/9" class="main-footer__map")
            div(class="container")
                section(class="write-us")
                    h3(class="write-us__title") Nerds design studio
                    p(class="write-us__address") 131444, Краснодар, ул. Пушкина, д. 19/9
                    p(class="write-us__phone") тел. +7(982)2342342
                    button(type="button" class="btn write-us__btn") Напишите нам

        section(class="contacts container")
            h2(class="visually-hidden") Наши социальные сети!
            ul(class="contacts-list")
                +contactsItem("#", "vk", "Вконтакте")
                +contactsItem("#", "fb", "Фейсбук")
                +contactsItem("#", "insta", "Инстаграм")

            div(class="offer")
                b(class="offer__title") Давайте дружить, это выгодно!
                p(class="offer__desc") Скидка 10% для друзей из социальных сетей.

    section(class="modal modal-write-us")
        h2(class="modal-write-us__title") Напишите нам
        form(class="write-us-form" method="post" action="https://echo.htmlacademy.ru")
            div(class="form-wrapper")
                p(class="write-us-form__item")
                    label(class="write-us-form__label" for="write-us-form-name") Ваше имя:
                    input(class="write-us-form__input" type="text" id="write-us-form-name" name="name" placeholder="Имя Фамилия")
                p(class="write-us-form__item")
                    label(class="write-us-form__label" for="write-us-form-email") Ваш e-mail:
                    input(class="write-us-form__input" type="text" id="write-us-form-email" name="email" placeholder="email@example.com")
            p(class="write-us-form__item")
                label(class="write-us-form__label" for="write-us-form-message") Текст письма:
                textarea(class="write-us-form__textarea" id="write-us-form-message" name="message" placeholder="В свободной форме")
            button(type="submit" class="btn write-us-form-btn") Отправить
            button(type="button" class="modal-close")
    div(class="overlay")


block globalScripts

block localScripts
    script(src="/js/modal-write-us.js")
    script(src="/js/slider.js")